@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Alata", sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}
h1,
h2,
h3 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
section:not(.landing) {
  padding: var(--section-padding) 0;
}
section .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 30px;
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
